* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

header h1{
    text-align: center;
    font-size: 40px;
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: rgba(192, 44, 192, 0.7);
    border-bottom: 20px solid;
    border-color: rgba(192, 44, 192, 0.9)
}

form {
    padding: 32px 0;
    text-align: center;
}

input, button {
    padding: 8px;
    font-size: 18px;
}

ul {
    text-align: center;
}

li:hover{
    cursor: pointer;
}
